*{
    font-family: "微软雅黑";
}
body{
    overflow-x: hidden;
}
@media screen and (min-width: 1356px){
    .d_content_set{
        width: 800px;
    }
}
@media screen and (max-width: 1110px){
    .d_content_set{
        width: 750px;
    }
}
@media screen  and (max-width: 1085px){
    .d_content_set{
        width: 700px;
    }
}
@media screen  and (max-width: 980px){
    .d_content_set{
        width: 600px;
    }
}

 /*联系我们*/
 .service{
     width: 100px;
     height: 90px;
    display: none;
}
 .service a{
     display: block;
     width: 100px;
     height: 30px;
     text-align: left;
     /*color: white;*/
     background-color: rgba(255,255,255,.5);
     line-height: 30px;
 }
 .contact{
     position: relative;
     cursor: pointer;
 }
 .contact img{
     position: absolute;
     top: 17px;
     right: 105px;
 }
.contact:hover .service{
    cursor: pointer;
    display: block;
}
.contact .service a:hover{
    background-color: #00b260;
    color: white;
}

/*1-3-1.html(subnav)样式*/
#subnav{
    width: 100%;
    height: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: #ffffff;
    border-bottom: 3px solid #272727;
}
#subnav span{
    display: block;
    float: left;
    width: 30%;
    height: 50px;
    margin-left: 1%;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    font-size: 1.2em;
}
#subnav in{
    background-image: url("../images/sub.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: white;
}
