/*
@author:	xiaolin.wei
@E-mail:	136896100@qq.com
@qq:		136896100
@version:	1.0 for wechat
@import 	'/style/animation.css';
*/
.inb {
  display: inline-block;
}
.color {
  color: #666666;
}
.cf {
  color: #ffffff;
}
.cc {
  color: #cccccc;
}
.c0 {
  color: #000000;
}
.c3 {
  color: #333333;
}
.c6 {
  color: #666666;
}
.c9 {
  color: #999999;
}
.red {
  color: #e74c3c;
}
.green {
  color: #10de7f;
}
.blue {
  color: #3498db;
}
.bg0 {
  background: rgba(0, 0, 0, 0.5);
}
.bgf {
  background: rgba(255, 255, 255, 0.5);
}
.moretext {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
.boxsize {
  box-sizing: border-box;
}
html,
div,
p,
ul,
li,
table,
body {
  font: 400 14px/28px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  color: #666666;
}
ul,
li,
dd,
dl,
dt {
  list-style: none;
}
p {
  text-indent: 24px;
}
img {
  border: 0;
}
.b {
  display: block;
}
.ahand {
  cursor: pointer;
}
.l {
  float: left;
}
.r {
  float: right;
}
.both {
  clear: both;
}
.none {
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
}
.fw {
  font-weight: 700;
}
.f14 {
  font-size: 14px;
}
.t-g {
  text-align: center;
}
.t-l {
  text-align: left;
}
.t-r {
  text-align: right;
}
.t-j {
  text-align: justify;
  text-justify: inter-word;
  text-align-last: justify;
}
.d-l {
  display: inline;
}
.f14 {
  font-size: 14px;
}
.f18 {
  font-size: 18px;
}
.OF {
  overflow: hidden;
}
.w {
  width: 100%;
}
.auto {
  margin: 0 auto;
}
.undis {
  display: none;
}
.man0 {
  height: 0;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.man {
  height: 5px;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.man10 {
  height: 10px;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.man15 {
  height: 15px;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.man20 {
  height: 20px;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.man30 {
  height: 30px;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.man40 {
  height: 40px;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.man50 {
  height: 50px;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.man60 {
  height: 60px;
  line-height: 0;
  font-size: 0;
  margin: 0;
  padding: 0;
  clear: both;
  width: 100%;
  overflow: hidden;
}
.w1 {
  width: 10%;
}
.w2 {
  width: 20%;
}
.w3 {
  width: 30%;
}
.w4 {
  width: 40%;
}
.w5 {
  width: 50%;
}
.w6 {
  width: 60%;
}
.w7 {
  width: 60%;
}
.w8 {
  width: 80%;
}
.w9 {
  width: 90%;
}
.ml1 {
  margin-left: 10px;
}
.ml2 {
  margin-left: 20px;
}
.mt1 {
  margin-top: 10px;
}
.mt2 {
  margin-top: 20px;
}
.mr1 {
  margin-right: 10px;
}
.mr2 {
  margin-right: 20px;
}
.mb1 {
  margin-bottom: 10px;
}
.mb2 {
  margin-bottom: 20px;
}
::selection {
  color: #fff;
  background: #06a34b;
}
::-moz-selection {
  color: #fff;
  background: #06a34b;
}
a {
  text-decoration: none;
  transition: 0.3s;
  color: #666666;
}
a:hover {
  color: #333333;
}
.bge {
  background: #eeeeee;
}
.b-t {
  border-bottom: 1px solid #eeeeee;
}
body {
  background: #eee;
  min-width: 1200px;
  min-height: 800px;
  box-sizing: border-box;
  padding: 70px 0 10px 250px;
  transition: 1s;
  position: relative;
  min-width: 1400px;
  overflow-x: scroll;
}
/*
#top{.rec(100%,100px);background:#fff;.b-s(0,10px,10px,rgba(0,0,0,.08)); position:fixed; top:0; left:250px;.anm(1s); z-index:2;
	.sys_menu{.inBl(150px,100px);.r; border-left:1px solid #eee;text-align:center;
		&,& *{.anm()}
		img{margin-top:21px}
		&:hover{.c0;img{margin-top:18px}}
	}
}
#nav_tab{.rec(125px,100px);.l; border-right:1px solid #eee; position:relative;.l;
	span{.anm(.5s);.rec(35px,3px);.b-r(5px); background:#999; position:absolute; z-index:2; left:44px;
		&.top{top:37px;transform-origin:center}
		&.middle{top:48px}
		&.bottom{top:59px}
	}
	&.in span{background:@mc;
		&.top{transform:rotate(-45deg);top:48px}
		&.middle{opacity:0}
		&.bottom{transform:rotate(45deg); top:48px}
	}
}
*/
#top {
  width: 100%;
  height: 53px;
  display: block;
  background: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.08);
  position: fixed;
  top: 0;
  left: 250px;
  transition: 1s;
  z-index: 3;
}
#top .sys_menu {
  width: 100px;
  height: 53px;
  display: inline-block;
  float: right;
  padding-left: 20px;
  line-height: 53px;
}
#top .sys_menu.user {
  background: url(../images/sys_1.jpg) no-repeat left center;
  width: 160px;
}
#top .sys_menu.set {
  background: url(../images/sys_2.jpg) no-repeat left center;
}
#top .sys_menu.quit {
  background: url(../images/sys_3.jpg) no-repeat left center;
}
#top .sys_menu:hover {
  color: #000000;
}
#nav_tab {
  width: 61px;
  height: 53px;
  display: block;
  border-right: 1px solid #eee;
  position: relative;
  float: left;
}
#nav_tab span {
  transition: 0.5s;
  width: 19px;
  height: 2px;
  display: block;
  border-radius: 2px;
  background: #999;
  position: absolute;
  z-index: 2;
  left: 20px;
}
#nav_tab span.top {
  top: 19px;
  transform-origin: center;
}
#nav_tab span.middle {
  top: 25px;
}
#nav_tab span.bottom {
  top: 31px;
}
#nav_tab.in span {
  background: #10de7f;
}
#nav_tab.in span.top {
  transform: rotate(-45deg);
  top: 25px;
}
#nav_tab.in span.middle {
  opacity: 0;
}
#nav_tab.in span.bottom {
  transform: rotate(45deg);
  top: 25px;
}
#nav {
  width: 250px;
  height: 100%;
  display: block;
  background: #222;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  transition: 1s;
}
#nav .nav {
  width: 100%;
  height: 60px;
  display: block;
  font: 400 18px/60px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  color: #ccc;
  background: url(../images/nav.png) no-repeat;
  background-position: 18px 22px;
  text-indent: 48px;
  position: relative;
  cursor: pointer;
  border-bottom: 1px solid #2a2a2a;
}
#nav .nav .tab {
  width: 7px;
  height: 9px;
  display: block;
  position: absolute;
  z-index: 3;
  background: url(../images/nav_class.png);
  top: 26px;
  right: 20px;
  transition: 0.3s;
  transform-origin: center;
}
#nav .nav .tip {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  z-index: 4;
  background: url(../images/nav_class.png);
  top: 20px;
  right: 15px;
  text-indent: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  line-height: 20px;
  background: #e84c3d;
  border-radius: 100%;
  font-size: 12px;
}
#nav .nav.nav2 {
  background-position: 18px -40px;
}
#nav .nav.nav3 {
  background-position: 18px -104px;
}
#nav .nav.nav4 {
  background-position: 18px -169px;
}
#nav .nav.nav5 {
  background-position: 18px -233px;
}
#nav .nav:hover .tab,
#nav .nav.in .tab {
  transform: rotate(-90deg);
}
.nav_list {
  width: 100%;
  padding: 20px 0;
  border-top: solid #007a42 4px;
  background: #272727 url(../images/nav_details.png) no-repeat 22px 0;
}
.nav_list li {
  width: 100%;
  height: 48px;
  display: block;
  transition: 0.3s;
  color: #999999;
  font: 400 16px/48px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  background: url(../images/nav_list_hover.png) no-repeat 24px center;
  text-indent: 50px;
}
.nav_list li:hover,
.nav_list li.in {
  background: #007a42 url(../images/nav_list.png) no-repeat 24px center;
  color: #ffffff;
}
#main {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0 0 20px 20px;
}
#bottom {
  width: 100%;
  height: 55px;
  display: block;
  background: #fff;
  box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.08);
  text-align: center;
  line-height: 55px;
  color: #ccc;
  position: fixed;
  bottom: 0;
  left: 250px;
  transition: 1s;
  z-index: 2;
}
#bottom span {
  color: #999999;
}
#contact {
  width: 250px;
  height: 55px;
  display: block;
  transition: 1s;
  position: fixed;
  z-index: 4;
  background: #272727 url(../images/nav.png) no-repeat;
  background-position: 18px -317px;
  bottom: 0;
  left: 0;
  font: 400 18px/55px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  color: #999999;
  text-indent: 60px;
}
#contact:hover {
  color: #ffffff;
  background: #007a42 url(../images/nav.png) no-repeat;
  background-position: 18px -317px;
}
#service {
  position: fixed;
  z-index: 5;
  right: 0;
  top: 30%;
  width: 57px;
  height: 270px;
  display: block;
}
#service .top,
#service .bottom,
#service .qq,
#service .tel,
#service .contact {
  width: 57px;
  height: 54px;
  display: block;
  cursor: pointer;
  transition: 0.5s;
  color: #ffffff;
  overflow: hidden;
}
#service .top {
  background: #00c168 url(../images/service.png) no-repeat;
  border-radius: 10px 0 0 0;
}
#service .top:hover {
  background: #00a157 url(../images/service.png) no-repeat;
}
#service .qq {
  background: #1abc9c url(../images/service.png) no-repeat;
  background-position: 0 -54px;
  width: 100%;
  font: 700 20px/54px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  text-indent: 65px;
  width: 223px;
}
#service .qq:hover {
  background: #079b7e url(../images/service.png) no-repeat;
  background-position: 0 -54px;
  margin-left: -166px;
}
#service .tel {
  background: #3598db url(../images/service.png) no-repeat;
  background-position: 0 -103px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 65px;
  font: 400 12px/24px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  width: 223px;
}
#service .tel span {
  font: 24px/24px Impact;
}
#service .tel:hover {
  background: #1071b2 url(../images/service.png) no-repeat;
  background-position: 0 -103px;
  margin-left: -166px;
}
#service .contact {
  background: #1aafbc url(../images/contact_r.png) no-repeat left center;
  width: 100%;
  font: 700 20px/54px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  text-indent: 65px;
  width: 223px;
}
#service .contact:hover {
  background: #0f8893 url(../images/contact_r.png) no-repeat left center;
  margin-left: -166px;
}
#service .bottom {
  background: #00c168 url(../images/service.png) no-repeat;
  border-radius: 0 0 0 10px;
  background-position: 0 -155px;
}
#service .bottom:hover {
  background: #00a157 url(../images/service.png) no-repeat;
  background-position: 0 -155px;
}
.logo {
  width: 250px;
  height: 53px;
  display: block;
}
.upload_logo {
  width: 314px;
  height: 100px;
  display: block;
  margin-left: 38px;
  float: left;
}
#loading {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 10px;
  background: #ffffff url(../images/load.gif) no-repeat center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: none;
}
/*
.d_col{.rec(390px,144px);.b-r(5px);.OF;.l; margin:20px 20px 0 0;.boxsize; padding:30px 0 0 30px;.cf;font:60px/40px Impact;.t-s(5px,5px,5px,rgba(0,0,0,.1));.anm();
	span{.font(400,16px,20px)}
	&.col1{background:#e84c3d url(../images/d_i_1.png) no-repeat center right 10px;&:hover{background:#ca3b2d url(../images/d_i_1.png) no-repeat center right 10px}}
	&.col2{background:#1abc9c url(../images/d_i_2.png) no-repeat center right 10px;&:hover{background:#159c81 url(../images/d_i_2.png) no-repeat center right 10px}}
	&.col3{background:#3598db url(../images/d_i_3.png) no-repeat center right 10px;&:hover{background:#2077b2 url(../images/d_i_3.png) no-repeat center right 10px}}
	&.col4{background:#9a59b5 url(../images/d_i_4.png) no-repeat center right 10px;&:hover{background:#773593 url(../images/d_i_4.png) no-repeat center right 10px}}
	&:hover{font:66px/40px Impact}
}
*/
.d_col {
  width: 390px;
  height: 178px;
  display: block;
  border-radius: 5px;
  overflow: hidden;
  float: left;
  margin: 20px 20px 0 0;
  box-sizing: border-box;
  padding: 40px 0 0 40px;
  color: #ffffff;
  font: 60px/40px Impact;
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}
.d_col span {
  font: 400 16px/40px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
}
.d_col.col1 {
  background: #e84c3d url(../images/d_i_2.png) no-repeat center right 15px;
}
.d_col.col1:hover {
  background: #ca3b2d url(../images/d_i_2.png) no-repeat center right 15px;
}
.d_col.col2 {
  background: #1abc9c url(../images/d_i_1.png) no-repeat center right 15px;
}
.d_col.col2:hover {
  background: #159c81 url(../images/d_i_1.png) no-repeat center right 15px;
}
.d_col.col3 {
  background: #3598db url(../images/d_i_4.png) no-repeat center right 15px;
}
.d_col.col3:hover {
  background: #2077b2 url(../images/d_i_4.png) no-repeat center right 15px;
}
.d_col.col4 {
  background: #9a59b5 url(../images/d_i_4.png) no-repeat center right 15px;
}
.d_col.col4:hover {
  background: #773593 url(../images/d_i_4.png) no-repeat center right 15px;
}
.d_col.col5 {
  background: #1a9fbc url(../images/d_i_3.png) no-repeat center right 15px;
}
.d_col.col5:hover {
  background: #1188a2 url(../images/d_i_3.png) no-repeat center right 15px;
}
.d_col.col6 {
  background: #b72469 url(../images/d_i_1.png) no-repeat center right 15px;
}
.d_col.col6:hover {
  background: #961954 url(../images/d_i_1.png) no-repeat center right 15px;
}
.d_col:hover {
  font: 66px/40px Impact;
}
.d_content_set,
.d_six {
  width: 800px;
  height: 376px;
  display: block;
  float: left;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  margin: 20px 20px 0 0;
}
.d_content_set ul,
.d_six ul {
  width: 100%;
  height: 50%;
  display: block;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.d_content_set ul li,
.d_six ul li {
  width: 20%;
  height: 100%;
  display: block;
  box-sizing: border-box;
  border-right: 1px solid #eee;
  float: left;
  transition: 0.5s;
  text-align: center;
}
.d_content_set ul li:last-child,
.d_six ul li:last-child {
  border: 0;
}
.d_content_set ul li img,
.d_six ul li img {
  width: 63px;
  height: 61px;
  display: block;
  margin: 40px auto 0;
  transition: 0.5s;
}
.d_content_set ul li .set_option,
.d_six ul li .set_option {
  display: inline-block;
  height: 18px;
  font: 400 18px/18px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  overflow: hidden;
}
.d_content_set ul li .set_option.yes,
.d_six ul li .set_option.yes {
  background: url(../images/d_yes.png) no-repeat center left;
  padding-left: 20px;
}
.d_content_set ul li .set_option.no,
.d_six ul li .set_option.no {
  background: url(../images/d_no.png) no-repeat center left;
  padding-left: 20px;
}
.d_content_set ul li .set_link,
.d_six ul li .set_link {
  width: 100%;
  height: 18px;
  display: block;
  text-align: center;
  margin-top: 50px;
  color: #1abc9c;
  text-decoration: underline;
  transition: 0.5s;
}
.d_content_set ul li:hover,
.d_six ul li:hover {
  background: #f5f5f5;
}
.d_content_set ul li:hover img,
.d_six ul li:hover img {
  margin: 20px auto 0;
}
.d_content_set ul li:hover .set_link,
.d_six ul li:hover .set_link {
  margin-top: 15px;
}
.d_content_set h1,
.d_six h1 {
  text-align: center;
  font: 400 30px/40px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  margin-top: 50px;
}
.d_content_set h2,
.d_six h2 {
  text-align: center;
  font: 400 16px/20px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  color: #999999;
}
.d_six ul li {
  width: 16.66%;
}
.d_msg,
.d_pay {
  width: 390px;
  height: 376px;
  display: block;
  float: left;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
  margin: 20px 20px 0 0;
}
.d_pay {
  box-sizing: border-box;
  padding: 40px;
}
.d_pay span {
  font: 400 18px/30px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  margin-left: 30px;
  color: #999999;
}
.d_pay i {
  margin: 20px 0 30px 30px;
  width: 16px;
  height: 8px;
  display: block;
  background: #00c168;
}
.d_pay font {
  margin: 20px 0;
  font: 60px/40px Impact;
  color: #000000;
}
.d_pay font b {
  font: 700 30px/30px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
}
.d_pay .d_pay_button {
  width: 100%;
  height: 55px;
  display: block;
  text-align: center;
  font: 700 24px/55px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  color: #ffffff;
  text-shadow: 1px 1px 1px #00b260;
  background: #10de7f;
  border-radius: 50px;
  box-shadow: 0 5px 0 #00c168;
  transition: 0.3s;
}
.d_pay .d_pay_button:hover {
  background: #0ebe6d;
  box-shadow: 0 5px 0 #00a056;
}
.d_pay.inside {
  background: none;
  box-shadow: 0 0 0 #dddddd;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 20px;
}
.d_pay.inside .d_pay_button {
  width: 60%;
  margin: 0 auto;
}
/*.d_msg{background:#ffefee;
	.title{.rec(100%,58px);.t-g; background:#ab2226;.font(400,18px,55px);.cf;}
	ul{.rec(100%,130px); background:#fff7f7;
		li{.rec(25%,100%);.l;.t-g;color:#ab2226;.anm();
			img{.rec(36px,35px); margin:35px auto 0;.anm()}
			&:hover{background:#fff;img{margin:30px auto 0}}
		}
	}
	.d_list{.rec(100%,60px);.boxsize; padding:0 15px;.moretext;.font(400,16px,59px); color:#8c6263; border-top:1px solid #ffe4e4;.anm();
		&:hover{.c3; background:#fff; text-indent:5px}
	}
}*/
.d_msg {
  background: #ffefee;
}
.d_msg .title {
  width: 100%;
  height: 58px;
  display: block;
  text-align: center;
  background: #ab2226;
  font: 400 18px/55px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  color: #ffffff;
}
.d_msg ul {
  width: 100%;
  height: 130px;
  display: block;
  background: #fff7f7;
}
.d_msg ul li {
  width: 25%;
  height: 100%;
  display: block;
  float: left;
  text-align: center;
  color: #ab2226;
  transition: 0.3s;
  position: relative;
}
.d_msg ul li img {
  width: 36px;
  height: 35px;
  display: block;
  margin: 35px auto 0;
  transition: 0.3s;
}
.d_msg ul li .tip {
  transition: 0.3s;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  z-index: 4;
  top: 20px;
  right: 10px;
  text-indent: 0;
  text-align: center;
  color: #ffffff;
  font-weight: 700;
  line-height: 20px;
  background: #e84c3d;
  border-radius: 100%;
  font-size: 12px;
}
.d_msg ul li:hover {
  background: #fff;
}
.d_msg ul li:hover img {
  margin: 30px auto 0;
}
.d_msg ul li:hover .tip {
  top: 8px;
  background: #3498db;
}
.d_msg .d_list {
  width: 100%;
  height: 46px;
  display: block;
  box-sizing: border-box;
  padding: 0 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font: 400 14px/46px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  color: #8c6263;
  border-top: 1px solid #ffe4e4;
  transition: 0.3s;
}
.d_msg .d_list:hover {
  color: #333333;
  background: #fff;
  text-indent: 5px;
}
#crumbs {
  width: 100%;
  height: 20px;
  display: block;
  font: 400 14px/20px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
}
#crumbs a {
  font: inherit;
  padding-left: 20px;
  background: url(../images/crumbs.jpg) no-repeat left center;
  margin-left: 15px;
}
#crumbs a.default {
  padding-left: 0;
  background: none;
  margin: 0;
}
/*
#crumbs{.rec(100%,40px);.font(400,14px,40px);
	a{font:@in; padding-left:20px; background:url(../images/crumbs.jpg) no-repeat left center; margin-left:15px}
	a.default{padding-left:0; background:none; margin:0}
}

#nav_inside{.rec(120%,53px); background:#007a42; margin:9px 0 20px -30px; padding-left:30px;
	a{.inBl(auto,53px);.font(400,16px,53px);.cf; padding:0 30px;.anm();
		&.in,&:hover{background:#00c168}
	}
}
*/
#nav_inside {
  width: 120%;
  height: 50px;
  display: block;
  background: #fff;
  margin: 9px 0 20px -30px;
  padding-left: 30px;
  border-bottom: #272727 3px solid;
}
#nav_inside a {
  width: auto;
  height: 50px;
  display: inline-block;
  font: 400 16px/53px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  color: #000000;
  padding: 0 30px;
  transition: 0.3s;
}
#nav_inside a.in,
#nav_inside a:hover {
  background: #272727;
  color: #ffffff;
}
#tips {
  max-width: 1400px;
  width: 100%;
  padding: 10px 50px;
  position: relative;
  box-sizing: border-box;
  background: #fffff5;
  border-radius: 10px;
  line-height: 20px;
  color: #8d6f08;
  border: 1px solid #e7e4bc;
}
#tips a {
  margin: 0 10px;
  color: #e74c3c;
}
#tips .icon,
#tips .close {
  position: absolute;
  z-index: 2;
  top: 50%;
}
#tips .icon {
  width: 19px;
  height: 19px;
  display: block;
  margin-top: -10px;
  left: 15px;
  background: url(../images/tips.jpg);
}
#tips .close {
  width: 22px;
  height: 22px;
  display: block;
  margin-top: -10px;
  right: 15px;
  cursor: pointer;
  background: url(../images/tips_close.jpg);
}
#tips hr {
  margin: 5px 0;
  opacity: 0.2;
}
.main_content {
  max-width: 1400px;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  display: table;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
}
.main_content dt {
  width: 100%;
  background: #f6f6f6;
  font-size: 18px;
  box-sizing: border-box;
  padding: 15px 20px;
}
.main_content dd {
  box-sizing: border-box;
  padding: 10px 20px;
  vertical-align: middle;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
  float: left;
  /*	&.lable{background:#feffec}
		&.w2{width:20%}
		&.w6{width:60%}
		&.w8{width:80%}
		&>span{margin-left:20px}
	*/
}
.main_content dd.content_footer {
  width: 100%;
  text-align: center;
}
.main_content_nobg {
  max-width: 1400px;
  width: 100%;
}
table.content {
  width: 100%;
}
table.content td {
  box-sizing: border-box;
  padding: 10px 20px;
  vertical-align: middle;
  border-top: 1px solid #eee;
  border-right: 1px solid #eee;
}
table.content td.lable {
  background: #feffec;
}
table.content td > span {
  margin-left: 20px;
}
table.content td table {
  width: 100%;
}
table.content td table td {
  border: none;
  padding: 0;
}
table.content td table.content td {
  padding: 10px 20px;
  border-top: 1px solid #eee;
  border-right: 1px solid #eeeeee;
}
table.content td .tdbtn {
  padding: 5px 10px;
  margin: 0 5px;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
}
table.content td .tdbtn.edit {
  background: #3498db;
}
table.content td .tdbtn.del {
  background: #e74c3c;
}
table.content td .tdbtn.view {
  background: #10de7f;
}
table.content td .tdbtn:hover {
  background: #10de7f;
}
table.content td.top {
  vertical-align: top;
}
table.mainList td {
  border-right: 0;
  padding: 20px;
}
table.mainList td font {
  line-height: 20px;
}
table.layui {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eeeeee;
}
.pohotlist {
  width: 100%;
}
.pohotlist .list {
  width: 311px;
  height: 177px;
  display: block;
  float: left;
  margin: 30px 0 0 30px;
  overflow: hidden;
}
.pohotlist .list img {
  width: 100%;
  height: 143px;
  display: block;
  border-radius: 10px;
}
.pohotlist .list table,
.pohotlist .list td {
  height: 22px;
}
.pohotlist .list table .input_text,
.pohotlist .list td .input_text {
  height: 22px;
  width: 30px;
}
.pohotlist .list table .input_button,
.pohotlist .list td .input_button {
  height: 22px;
  width: 50px;
  line-height: 22px;
}
.pohotlist .list table .input_button.del,
.pohotlist .list td .input_button.del {
  background: url(../images/del.jpg) no-repeat left 50%;
  text-align: right;
  color: #10de7f;
  width: 45px;
}
.dp_picture {
  width: 200px;
  height: 100px;
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.dp_picture img {
  width: 100%;
  height: 100%;
  display: block;
}
.dp_picture b {
  width: 54px;
  height: 54px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -27px 0 0 -27px;
  background: url(../images/v2.png);
  z-index: 2;
  display: none;
}
.dp_picture.video b {
  display: block;
}
a.view_teach {
  color: #3498db;
}
.photo_club {
  width: 311px;
  height: 207px;
  display: block;
  float: left;
  margin: 30px 0 0 30px;
  overflow: hidden;
  position: relative;
}
.photo_club img {
  width: 100%;
  height: 143px;
  display: block;
  border-radius: 10px;
  background: #000;
  transition: 0.3s;
}
.photo_club .input_text {
  height: 22px;
  width: 30px;
}
.photo_club .input_button {
  height: 22px;
  width: 50px;
  line-height: 22px;
  display: inline-block;
  margin: 0;
  transition: 0.3s;
}
.photo_club .btn {
  position: absolute;
  top: -200px;
  left: 0;
  z-index: 2;
  transition: 0.3s;
  text-align: center;
  width: 100%;
}
.photo_club:hover img {
  opacity: 0.3;
}
.photo_club:hover .btn {
  top: 58px;
}
#page {
  width: 100%;
  padding: 20px 0;
  box-sizing: border-box;
  text-align: center;
  border-top: 1px solid #eee;
}
#page a {
  padding: 2px 8px;
  margin: 0 5px;
  color: #ffffff;
  border-radius: 5px;
  transition: 0.3s;
  color: #666666;
}
#page a.in,
#page a:hover {
  background: #10de7f;
  color: #ffffff;
}
#page .input_text {
  width: 30px;
  height: 24px;
  display: inline-block;
  text-align: center;
  text-indent: 0;
}
#page .input_button {
  width: 40px;
  height: 24px;
  display: inline-block;
  line-height: 24px;
}
.tea_state {
  display: inline-block;
  padding: 3px 10px;
  border-radius: 5px;
  margin: 0 5px;
}
.tea_state.in {
  background: #3498db;
  color: #ffffff;
}
.comment_chart {
  display: inline-block;
  padding: 3px 10px;
  margin-right: 10px;
  color: #ffffff;
  border-radius: 5px;
  font-size: 16px;
}
.comment_chart.v1 {
  background: #10de7f;
}
.comment_chart.v2 {
  background: #3498db;
}
.comment_chart.v3 {
  background: #e74c3c;
}
.comment_chart span {
  margin-left: 10px;
}
.c_stu_li {
  width: 100%;
}
.c_stu_li span {
  display: inline-block;
  padding: 2px 10px;
  border-radius: 5px;
  margin: 0 5px 10px 0;
  border: 1px solid #eee;
  background: #f9f9f9;
}
td {
  transition: 0.3s;
}
td:hover {
  color: #000000;
  background: #f6fffb;
}
.c_text,
.t_text {
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 5px 10px 0;
  background: #00C168;
  color: #ffffff;
}
.t_text {
  background: #13c08d;
}
.canvas_obj {
  margin: 20px 0 0 20px;
  float: left;
  width: 180px;
  height: 180px;
  display: block;
}
.case_canvas {
  width: 170px;
  height: 160px;
  display: block;
  float: right;
  margin-top: 40px;
}
.case_canvas li {
  height: 30px;
  text-indent: 5px;
  cursor: pointer;
}
.case_canvas li span {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 3px;
  margin-right: 8px;
  vertical-align: -0.3ex;
}
.case_canvas li:hover {
  background: #f9f9f9;
}
.card {
  width: 229px;
  height: 133px;
  display: block;
  border-radius: 10px;
  border: 1px solid #ccc;
  box-shadow: 0 0 0 3px #eee;
  margin: 25px 0 0 25px;
  overflow: hidden;
  float: left;
}
.card .logo {
  width: 146px;
  height: 22px;
  display: block;
  margin: 20px 0 0 20px;
}
.card .name {
  width: 100%;
  height: 36px;
  display: block;
  box-sizing: border-box;
  padding-left: 20px;
  font: 400 16px/30px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
}
.card .num {
  width: 100%;
  height: 45px;
  display: block;
  background: #f6f6f6;
  box-sizing: border-box;
  padding-left: 20px;
  line-height: 45px;
}
.card.add {
  text-align: center;
  cursor: pointer;
  font-size: 18px;
  color: #999999;
  transition: 0.3s;
}
.card.add img {
  margin: 25px auto 0;
}
.card.add:hover {
  background: #10de7f;
  color: #ffffff;
  border: 1px solid #0ab566;
  box-shadow: 0 0 0 3px #cbffe7;
}
b.zz {
  font: 24px/24px Impact;
  color: #e74c3c;
}
b.zz strong {
  font-family: '\5FAE\8F6F\96C5\9ED1';
}
.choose_box {
  display: inline-block;
}
.choose_box span {
  margin: 0 10px;
}
b.state {
  display: inline-block;
  font: 400 14px/20px HelveticaNeue,\5FAE\8F6F\96C5\9ED1;
  padding: 20px;
  margin-right: 20px;
}
b.state.yes {
  background: url(../images/d_yes.png) no-repeat center left;
}
b.state.no {
  background: url(../images/d_no.png) no-repeat center left;
}
.b-tt {
  border-top: #eeeeee 1px solid;
}
