*{
    margin: 0;
    padding: 0;
    font-family: "微软雅黑";
}
span{
    color: gray;
    font-size: 0.8em;
}
.banner{
    width: 100%;
}
.banner img{
    width: 100%;
}
.main{
    width: 100%;
    height: auto;
    text-align: center;
}
.main h3,p{
    color: #5F3B1B;
    margin-top: 20px;
}
.main .under_line{
    width: 20px;
    margin: 5px auto 5px auto;
    height: 2px;background-color: #B4955F;
}
.main span{
    display: block;
    width: 90%;
    text-align: left;
    margin-left: 5%;
    text-indent: 2em;
}
.main img{
    width: 100%;
}
.last span{
    margin-top: 20px;
}
.last span b{
    margin-left: -6%;
    color: #C13B2B;
}
.footer{
    width: 100%;
    height: 150px;
    margin-top: 30px;
    text-align: center;
}
.footer .footerbox{
    width: 100px;
    height: 30px;
    margin: 10px auto 10px auto;
    border-right: 3px solid #8F796A;
    border-left: 3px solid #8F796A;
}
.footer .footerbox:nth-of-type(1){
    border-top: 3px solid #8F796A;
}
.footer .footerbox:last-child{
    border-bottom: 3px solid #8F796A;
}
.footer .foot{
    width: 170px;
    height: 75px;
    font-size: 0.9em;
    font-weight: 600;
    color: #8F796A;
    margin: 0 auto 0 auto;
}